.centerSet-main {
    .centerSet-password {
        max-width: 500px;

        .password-title {
            color: rgba(0, 0, 0, 0.8);
            font-size: 14px;
            font-weight: bold;
            margin: 6px 0;
            padding-right: 64px;
        }

        .ant-form-item {
            margin-bottom: 10px;
        }
    }
}