.nav-bar-pop-main {
    width: auto;
    height: auto;
    padding: 5px;

    .nav-bar-pop-item-dk {
        text-align: center;
        width: 100%;
        height: 40px;
        clear: both;

        .nav-bar-pop-item-dk-span {
            margin-right: 10px;
            font-size: 16px;
            line-height: 40px;

            .ant-tag {
                font-size: 16px;
                margin: 0;
            }
        }

        .ant-btn {
            height: 30px;
            font-size: 16px;
        }

        .anticon {
            float: right;
            font-size: 40px;
            color: green;
        }
    }

    .nav-bar-pop-item-message {
        height: 40px;
        line-height: 40px;
        font-size: 16px;

        .message-link {
            display: inline-block;
        }

        span {
            display: inline-block;
            cursor: pointer;

            .anticon {
                font-size: 25px;
                float: left;
                margin-top: 8px;
                margin-right: 5px;
            }

            .ant-badge {
                float: right;
                margin-top: 10.5px;
                margin-left: 5px;
                color: #fff;
            }
        }

    }
}